.clinic-card {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    flex: 1;
    position: relative;
    transition: 0.4s;
    width: 270px;
    height: 220px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.clinic-card img {
    width: 150px;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}

.clinic-card.right-img {
    margin-left: auto;
}

.clinic-card h4 {
    position: absolute;
    bottom: 40px;
    left: 30px;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
}

@media only screen and (max-width: 767px) {
    .clinic-card {
        margin-top: 120px;
        margin-bottom: 0;
    }
}